<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Simple JS Calculator</title>
		<link rel="stylesheet" href="css/style.css" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
		/>
	</head>
	<body>
		<main class="container">
			<header class="header">
				<h1>Calculator</h1>
			</header>
			<section class="display">
				<div class="previousvalue"></div>
				<input
					type="text"
					name=""
					class="currentvalue"
					value="0"
					readonly
					id=""
				/>
			</section>
			<button class="clearEntry function">CE</button>
			<button class="clear function">C</button>
			<button class="delete function">
				<i class="fas fa-backspace"></i>
			</button>
			<button class="operator divide function">/</button>

			<button class="number">7</button>
			<button class="number">8</button>
			<button class="number">9</button>
			<button class="operator function">*</button>

			<button class="number">4</button>
			<button class="number">5</button>
			<button class="number">6</button>
			<button class="operator function">-</button>

			<button class="number">1</button>
			<button class="number">2</button>
			<button class="number">3</button>
			<button class="operator function">+</button>

			<button class="signChange">+/-</button>
			<button class="number">0</button>
			<button class="number">.</button>
			<button class="equals">=</button>
		</main>
		<script src="./js/scripts.js"></script>
	</body>
</html>

/* CSS */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

/* css clear */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* atur fontsize, fontfamily dan warna text */
html {
	font-size: 16px;
	font-family: 'Roboto Mono', monospace;
	color: #000;
}
/* 1vw means 1% or view width. Misal 100 artinya 100% dari view width
    ketika saya set 50 untuk vw dan vh, background ternyata tidak mengikuti ukuran tersebut. tidak tahu kenapa.
    place-content is shorthand dari align dan justify center. digunakan pada grid dan flexboz
*/
body {
	width: 100vw;
	height: 100vh;
	background-color: #fff;
	background: linear-gradient(
		90deg,
		rgba(255, 255, 255, 1) 0%,
		rgba(70, 130, 180, 1) 0%,
		rgba(238, 238, 238, 1) 50%,
		rgba(255, 165, 0, 1) 100%
	);
	display: grid;
	place-content: center;
}

/* 
    dari body kita buat size 90%. posisi di tengah karena body display grid dan place content center.
    display grid artinya menjadi sebuah kolom dan sifatnya mirip blok. jika sampai sini maka jadi 1 kolom ke bawah. dan width element child menjadi full atau block
    gap membuat jarak antar element. berarti dari header hingga semua button.
    maksud dari grid-template-areas adalah bahwa lebar header atau display adalah 4x dari lebar clearEntry/clear/delete/divide
*/
.container {
	width: 90vw;
	border: 2px solid;
	max-width: 500px;
	background-color: #cecece;
	display: grid;
	gap: 1px;
	grid-template-areas:
		'header header header header'
		'display display display display';

	grid-template-columns: repeat(4, minmax(0, 1fr));
	grid-template-rows: 20px minmax(120px, auto) repeat(5, minmax(0, 70px));
}

.container:focus-within {
	background-color: rgb(255, 255, 255, 0.5);
}

.header {
	grid-area: header;
	padding: 0.25rem 0.5rem;
	display: flex;
	align-items: center;
}

.display {
	grid-area: display;
}
